/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
  margin: 0;
  /* อย่าลืมกำหนด font-family ให้ body ด้วย หากไม่ได้ใช้ใน theme.js */
  font-family: 'Pixelify Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E0E0E0; /* ให้พื้นหลังเป็นสี default ของ theme */
}

/* ... โค้ด CSS อื่นๆ */